<?xml version="1.0" encoding="UTF-8"?>
<!-- Se va a usar un xml schema con las siguientes definiciones para transaccion y manejo de datos  -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
 
<!--  Aqui se crea la definicion de la conexion a los datos -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/dental" />
        <property name="username" value="root" />
        <property name="password" value="root" />
    </bean>
    
<!--  Esto es para agregar las pripiedades del manejador y para decirle que paquetes va a escanerar -->
	<bean id="hibernate4AnnotatedSessionFactory"
        	class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
			<list>
				<value>com.isw.model</value> 
			</list>
		</property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>
         
<!--    Aqui van todos los beans de los daos para hacer inyeccion de dependencias pasandole la referencia de la conexion sessionFactory -->
    <bean id="operadorDao" class="com.isw.dom.OperadorDaoImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
</beans>